* {
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.1em;
}

body {
	background-color: rgb(243, 225, 212);
}

.wrapper {
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	height: 100%;
	max-width: 1000px;
	width: 75%;
	background-color: #fff;
	border-radius: 50px;
}

header {
	display: flex;
	justify-content: center;
}

header > img {
	margin-top: 2rem;
	width: 90%;
	border-radius: 7%;
}

main {
	margin-left: 5%;
	width: 90%;
}

.preparation {
	background-color: hsl(330, 100%, 98%);
	padding: 5px;
	padding-left: 3rem;
	border-radius: 7%;
}

th {
	text-align: left;
	padding-right: 3rem;
	border-bottom: 1px solid #ddd;
}

td {
	padding: 10px;
	text-align: right;
	border-bottom: 1px solid #ddd;
}

@media (max-width: 450px) {
	body {
		font-size: 11px;
	}
}
